.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.heading {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
 }
  
.graph_container {
    display: flex;
    /* justify-content: center; */
    height: 200px;

  }
  
.y_label {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 20px;
    align-items: right;
    height: 200px;

  }
  
.graph {
    display: flex;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    width: 800px;
    height: 450px;
  }
  
.info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 35px;
    text-align: justify;
    line-height: 1.6;
  } 
  