
.coin-container {
    display: flex;
    justify-content: center;
  }
  


.coin-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgb(13, 118, 128);
    width: 95vw;
  }



.coin {
    display: flex;
    align-items: center;
    width: 30%; 
  }
  


.coin-img {
    display: flex;
    width: 29px; 
    height: 29px;
    text-align: left;
    /* padding-left: 2%; */

}

.coin-name {
    display: flex;
    width: 70%; 
    text-align: left;
    padding-left: 15%;

}

.coin-symbol-div {
    display: flex;
    width: 0%;
    /* text-align: left; */
    padding-right: 3%;
    opacity: 0;
 

}


.coin-data {
    display: flex;
    /* text-align: right;
    justify-content: space-between; */
    width: 70%;
  }


.coin-price-div {
    /* display: flex; */
    width: 25%;
    text-align: right;
}

.coin-volume-div {
    /* display: flex; */
    /* width: 35%; */
    width: 0%;
    text-align: right;
    opacity: 0;
}

.price-change-div {
    /* display: flex; */
    width: 25%;
    text-align: right;
}

.coin-marketcap-div {
    /* display: flex; */
    width: 50%;
    /* padding-left: 13%; */
    /* justify-content: right; */
    text-align: right;
    /* align-items: right; */
    /* padding-left: 3px; */
    padding-right: 3%;
    
}

.coin-marketcap {
    text-align: right;
    /* padding-right: 10%; */
}


.coin img {
    /* height: 30px; */
    width: 100%;

}

.coin h1 {
    font-size: 16px;
    width: 80%;
    padding-left: 8%;
}

.coin-symbol {
    text-transform: uppercase;
} 

.red {
    color: #f00606;
}
  
.green {
    color: #11d811;
}




@media only screen and (min-width: 768px) {

.coin-container {
    display: flex;
    justify-content: center;
  }
  


.coin-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid rgb(13, 118, 128);
    width: 70vw;
  }



.coin {
    display: flex;
    align-items: center;
    width: 30%; 
  }
  


.coin-img {
    display: flex;
    width: 40px; 
    height: 40px;
    text-align: left;
    padding-left: 2%;

}

.coin-name {
    display: flex;
    width: 63%; 
    text-align: left;
    padding-left: 10%;

}

.coin-symbol-div {
    display: flex;
    width: 22%;
    /* text-align: left; */
    padding-right: 3%;
    opacity: 1;
 

}


.coin-data {
    display: flex;
    /* text-align: right;
    justify-content: space-between; */
    width: 70%;
  }


.coin-price-div {
    /* display: flex; */
    width: 15%;
    text-align: right;
}

.coin-volume-div {
    /* display: flex; */
    width: 35%;
    text-align: right;
    opacity: 1;
}

.price-change-div {
    /* display: flex; */
    width: 20%;
    /* text-align: ; */
    padding-right: 2%;
}

.coin-marketcap-div {
    /* display: flex; */
    width: 30%;
    /* padding-left: 13%; */
    /* justify-content: right; */
    text-align: right;
    /* align-items: right; */
    /* padding-left: 3px; */
    padding-right: 3%;
    
}

.coin-marketcap {
    text-align: right;
    /* padding-right: 10%; */
}


.coin img {
    /* height: 30px; */
    width: 100%;

}

.coin h1 {
    font-size: 16px;
    width: 80%;
    padding-left: 8%;
}

.coin-symbol {
    text-transform: uppercase;
} 

.red {
    color: #f00606;
}
  
.green {
    color: #11d811;
}

}
 /* .coin h1 {
    font-size: 16px;
    width: 80%;
    padding-left: 8%;
  }
  
.coin img {
    height: 30px;
    width: 30px;

  }
  
.coin-symbol {
    text-transform: uppercase;

    text-align: right;
}  */
  