.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */

  }

  .graph {
    display: flex;
    margin-left: auto;
    margin-right: auto;
   
    width: 93vw;

    height: 300px;
  }
  
.info {
    display: flex;

   
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    padding-top: 45px;
    text-align: justify;
    line-height: 1.6;
  } 

.heading {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    font-size: 35px;

}
.x_label {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



@media only screen and (min-width: 768px) {

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */

  }

  .graph {
    display: flex;
    margin-left: auto;
    margin-right: auto;
   
    width: 40vw;

    height: 300px;
  }
  
.info {
    display: flex;

   
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
    padding-top: 35px;
    text-align: justify;
    line-height: 1.6;
  } 

.heading {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    font-size: 35px;

}
.x_label {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

}

